* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: lightpink;
}

h1 {
    text-align: center;
    padding-top: 50px;
}

.members {
    border: 1px solid black;
    margin: 0 auto;
    width: 80%;
    padding: 20px;
    margin-top: 50px;

    /* debug */
    /* height: 300px; */
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin-bottom: 10px;

}

li {
    font-size: 2rem;
    text-align: center;
}

.person-img {
    width: 100px;
}